<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="/img/nighthost.png" width="320" alt="C4 Clan Community">
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">C4 Clan Community</h1>
        <br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Best Discord Bot To Speed Up Your Discord Server!</p>
        <br>
        <a class="link-button" href="https://discord.com/api/oauth2/authorize?client_id=896337631137394728&permissions=8&scope=bot%20applications.commands">🔗Invite Me!</a>
        <a class="yt-link" href="https://discord.gg/PpUQxYknEY">🛠 Support?</a>
        <a class="yt-link" href="https://www.youtube.com/channel/UCutt5i081guznunJtDr0bZA"> ♦ youtube</a>
        
      </div>
    </div>
    <br>
    </center>
</section>